<!DOCTYPE html>
<html>

<head>
  <title>Cursor Position Background Color</title>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script defer src="/static/javascript/script.js"></script>
</head>

<body>
  <div class="container mt-5" id="home-container">
    <div class="row justify-content-center">
      <div class="col-sm-6">
        <div class="custom-container">
          <h1>Fredclick!</h1>
          <label for="nameInput">Enter Your Name:</label>
          <input type="text" class="form-control" id="name" placeholder="Your Name">
          <br>
          <button class="btn btn-primary" id="loadButton">Start Game</button>
          <div class="mt-4">
            <h3>Leaderboard</h3>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Rank</th>
                  <th>Player</th>
                  <th>Score</th>
                </tr>
              </thead>
              <tbody>
                {% for entry in top5 %}
                <tr>
                  <td>{{ loop.index }}</td>
                  <td>{{ entry.name }}</td>
                  <td>{{ entry.score }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="gameOver" class="">
    <h1>Game Over!</h1>
    <h2>Score: <span id="finalScore"></span></h2>
    <h2><a href="/">Play again?</a></h2>
  </div>
</body>

</html>
